@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #009de8;
    --foreground: #020817;

    --card: #ffffff;
    --card-foreground: #020817;

    --popover: #ffffff;
    --popover-foreground: #020817;

    --primary: #000000;
    --primary-foreground: #ffffff;

    --secondary: #f1f5f9;
    --secondary-foreground: #0f172a;

    --muted: #f1f5f9;
    --muted-foreground: #64748b;

    --accent: #d9f0fc;
    --accent-foreground: #0f172a;

    --destructive: #ef4444;
    --destructive-foreground: #f8fafc;

    --border: #eaf0f4;
    --input: #eaf0f4;
    --ring: #020817;

    --radius: 0.5rem;

    --progress-gradient: linear-gradient(to left, #ffad7a, #a9a3ff 60%, #80aaff);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-transparent text-foreground font-text;
  }
  h1 {
    @apply text-[1.75rem] not-italic font-bold leading-10 font-headline;
  }
  h2 {
    @apply text-2xl not-italic font-bold leading-8 tracking-[0.3px];
  }
}

@layer components {
  .border-gradient {
    @apply relative bg-clip-padding rounded-3xl border-4 border-solid border-transparent bg-white;
  }
  .border-gradient::after {
    @apply absolute content-[''] z-[-1] rounded-3xl -inset-1 bg-[linear-gradient(to_bottom_left,#ffad7a,#a9a3ff_60%,#80aaff)];
  }
  .link {
    @apply font-semibold text-[#037cc2] hover:text-[#005e8b] cursor-pointer hover:underline;
  }
  .button-shadow {
    @apply shadow-[0_0_2px_rgba(0,0,0,0.12),_0_4px_8px_rgba(0,0,0,0.04)];
  }
}
